INVITER_KEY="//Alice"
PORT=4004
PROVIDER="ws://localhost:9944/"
BALANCE_CREDIT=
BALANCE_LOCKED=
SENDGRID_API_KEY=
ALERT_FROM_EMAIL=
ALERT_TO_EMAIL=
HCAPTCHA_SECRET=
ENABLE_API_THROTTLING=false
GLOBAL_API_LIMIT_INTERVAL_HOURS=1
GLOBAL_API_LIMIT_MAX_IN_INTERVAL=10
PER_IP_API_LIMIT_INTERVAL_HOURS=48
PER_IP_API_LIMIT_MAX_IN_INTERVAL=1
CAPTCHA_BYPASS_KEY=ramdom-string-key